$link: 2.3vh;
$orage: rgb(223, 94, 8);
$black: rgb(24, 24, 24);
$padding:10vh;
$background: rgb(240, 240, 240);



body
{

.Body
{
  .compbodytop
{
 display: flex;
 height: 90vh;


 .title
 {
   padding-top: 2vh;
   padding-left: $padding;
   flex: 50;
   
   h2
   {
    font-size: 4.5em;
    padding-right: 25vh;
    padding-bottom: 5vh;
    margin-bottom: 0;
    color:$black;
   }

   .outro  
   {
    display: flex;
    justify-content: space-between;
    padding-right: 65vh;
   }
 }
 .slider
 {
  flex: 40;
  border-bottom: 1px solid $black;
  border-left: 1px solid $black;
  height: 100%;
  overflow: hidden;

  img
  {
   overflow: hidden;
   width: 100%;
  max-height: 100%;
  }
 
 }
}
.compbodybutton
{
 display: flex;

}
}

.video
{
  height: 100vh;
  .partenaire
{
  height: 50vh;
  display: flex;
  padding-left: $padding;
  padding-right: $padding;
  align-items: center;
  flex-direction: column;
  h2 
  {
    font-size: 2.5em;
  }
  .logo
  {
    width: 100%;
    display: flex;
    justify-content: space-between;

    img
  {
    max-height: 100px;
  }
     }
  
  
}
}

footer
{
  height: 50vh;
}



}

.separator
{
 position: absolute;
 left:50%;
 top:30%;
 .ligne
 {
  background-color: $black;
  height: 1vh;
  width: 20vh;
  
 }
}
