@font-face
{
 font-family:'Bauziet Wide Regular';
 src: local('Bauziet Wide Regular'), url('../Fonts/Bauziet/BauzietWideRegular.ttf') format('truetype');
}
@font-face {
 font-family:'Montserrat' ;
 src: local('Montserrat'), url('../Fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

$orage: rgb(223, 94, 8);
$black: rgb(24, 24, 24);
$background: rgb(240, 240, 240);

html
{
  
  background-color: $background;

 h1,h2,h3,h4,h5
 {
  font-family: 'Bauziet Wide Regular', Tahoma, sans-serif;
 }
 p,a,li,label,i
 {
  font-family: 'Montserrat', Tahoma, sans-serif;
  text-decoration: none;
  list-style: none;
  color: $black;

 }
 
}

body
{
  margin: 0;
  padding: 0;
}

.bordereffect
{
  border:1px solid $black;
}

.card:hover
{
  background-color:$orage;
}
::-webkit-scrollbar
{
  background-color: transparent;
  height: 30px;
  border-radius: 1px;
  border: 1px solid transparent;
 
}
  ::-webkit-scrollbar-thumb
 {
   background-color: rgb(5, 207, 96);
   border-radius: 10px;
 }

.orange
{
  color:$orage;
}